
body {
    background-color: black; 
    color: darkorange; 
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100vh; 
}

h1 {
    color: darkorange; 
    font-size: 5rem;  
    margin-top: 50px; 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%; 
}


.box-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 50px; 
    margin-top: 50px;
}
.boxt, .boxs, .boxe {
    background-color: darkorange; 
    color: black; 
    height: 250px; 
    width: 250px; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    border-radius: 20%; 
    padding: 20px; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
ul {
    list-style-type: none; 
    padding: 0;
    margin: 10px 0; 
    text-align: center;
}

ul li {
    margin: 5px 0; 
}
h3 {
    text-align: center;
    color: black; 
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar {
    position: fixed;
    top:0;
    width: 100%;
    background-color: darkorange;
    text-align: center;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: black;
    color: darkorange;
    border-radius: 5px;
}