
body {
    background-image: url("images/back.jpeg");
    background-color: darkorange;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
}

.navbar {
    position: fixed;
    top:0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: darkorange;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: darkorange;
    color: black;
    border-radius: 5px;
}

.box {
    background-color: black;
    color: white;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.text {
    text-align: left;
    margin-left: 200px;
}

.image img {
    object-fit: cover;
    width: 250px;
    height: 350px;
    border: 30px solid black;
    border-radius: 10px;
    margin-right: 300px;
}
